<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="post">
    <label>Usuário:</label>
    <input type="text" name="username" required />
    <br>
    <label>Senha:</label>
    <input type="password" name="password" required />
    <br>
    <button type="submit">Logar</button>
  </form>
  <a href="/register">Criar uma conta</a>
</body>
</html>
